/*Element Selector*/
h1{
    color: blue;
}


/*Universal Selector*/
*{
    color: brown;
}

/*Class Selector*/
.parag1{
    color: greenyellow;
}

/* ID Selector*/

#parag2{
    color: orange;
}
/*attribute selector*/
/* targetting any element that has an [href]attribute */
[href]{
    color: red;
}

/*attribute selector*/
/* targetting any element that has an a[href]attribute */

a[href] {
    color: purple;
}

/*targeting elements with an href attribute value that is exactly www.example.com*/
a[href="wwww.example.com"] {
    color: aqua;
}

/*grouping selector*/

h5, h4, h3 {
    font-size: 20px;
    background-color: yellow;
}

h5, #heading3 , .heading4 {
    font-size: 20px;
    background-color: yellow;
} 

/* Pseudo-classes */
h5:hover{
    background-color: deepskyblue;
    color: black;
}

/* Pseudo-element */
#heading3::first-letter {
    color: blue;
}

#heading3::before {
    content: 'Placed before h3 - '
}

.heading4::after{
    content:' - Placed after h4'
}